<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" integrity="sha512-csw0Ma4oXCAgd/d4nTcpoEoz4nYvvnk21a8VA2h2dzhPAvjbUIK6V3si7/g/HehwdunqqW18RwCJKpD7rL67Xg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        * {
            @import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap');
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #D3D3D3;
  font-family: 'Noto Kufi Arabic', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  background: #A9A9A9;
}

.logo {
  font-size: 1.8rem;
  color: #242424;
  padding-left: 20px;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: black;
}

.nav__link {
  position: fixed;
  width: 94%;
  top: 5rem;
  left: 18px;
  background-color: lightblue;
}


.nav__link a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #000000;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.nav__link a:hover {
  box-shadow: inset 200px 0 0 0 #54b3d6;
  color: white;
}



.hide {
  display: none;
}

@media screen and (min-width: 600px) {
  .nav__link {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }

  .nav__link a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
    </style>
    <!--- text cube start -->
    <style>

      .cube-1 {
        position: relative;
        height: 200px;
        width: 600px;
        border: 2px solid black;
        left: 740px;
        top: 200px;
      }
      .text-p {
        margin-left: 56%;
        margin-top: 1%;
      }
 
    </style>
    <!--- text cube end -->
    
    <!-- img css start -->
    <style>
      .planet-crafter  {
        border-radius: 70%;
        margin-left: 55%;
        margin-top: 1%;
      }
    </style>
    <!-- img css end -->
     <!-- btn css start -->
     <style>
       .button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 40%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

     </style>
     <!-- btn css end -->
    <title>game new</title>
  </head>
  <body>
    <header>
      <nav class="nav">
        <a href="/" class="logo">العاب جديدة</a>

        <div class="hamburger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>

        <div class="nav__link hide">
          <a href="/">الصفحة الرئسية</a>
        </div>
      </nav>
    </header>
      <center>
          لعبة بلانت كرافت او (معيشة في الفضاء) تم انشاء العبة 15 يوليو و 2021  ومن المطورMiju Games
      </center>
  <script>
    const hamburger = document.querySelector('.hamburger');
const navLink = document.querySelector('.nav__link');

hamburger.addEventListener('click', () => {
  navLink.classList.toggle('hide');
});

  </script>
  </body>
</html>
